<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Homepage</title>
</head>
<body>
<form action="http://127.0.0.1:5000/" method="post">
<p>enter name</p>
<p><input type="text" name="nm"></p>
<p><input type="submit" value="submit"></p>
    <p> enter email</p>
    <p><input type="email" name="email"></p>
    <p><input type="submit" value="submit"></p>
    <p>MESSAGE</p>
    <label for="message">Message:</label><br>
    <textarea id="message" name="message" required></textarea><br>
</form>
</body>
</html>